homepage1.css
homepage2.css
style.css

cat.svg
giraffe.svg
left-chevron.svg
right-chevron.svg
sheep.svg
corgi1.jpg
corgi2.jpg
corgi3.jpg

app1.js
app2.js
app3.js
app4.js
app5.js
app6.js
app7.js
app8.js
app9.js
app10.js
app11.js
app12.js
homepage1.js
homepage2.js

corgi.mp4

homepage1.html
homepage2.html
index.html